<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
             <!-- Bootstrap core CSS -->
             <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

        {% endblock %}

    </head>
    <body>
        <div>
            {% block body %}{% endblock %}
        </div> 
        {% block javascripts %}
                <script >
                
                </script>
        {% endblock %}    
    </body>
</html>
